<div class="station-cards-center">
  <div class="stations-searchbar" id="address_search">
    <%= form_tag stations_path, method: :get do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Enter your address to find stations near you"
      %>
      <%= submit_tag "Search", class: "btn-red mt-1" %>
    <% end %>
  </div>

  <div id="map"
      style="width: 100%; height: 90%; top: 66px;"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>

  <div class="index-container">
    <div id="section-stations-container"> 
      <div class="stations-cards">
          <% @stations.each do |station| %>
          <div class="card-station">
            <div class="card-station-infos">
              <h2><%= station.name %></h2>
            </div>
            <%= link_to 'Explore', station_path(station), class: 'btn-red ml-3' %>
          </div>
          <% end %>
      </div>
    </div>
  </div>
</div>