<div class="stations-searchbar">
  <%= form_tag stations_path, method: :get do %>
    <%= text_field_tag :query, params[:query],
      class: "form-control", placeholder: "Enter address to find stations nearby"%>
    <%= submit_tag "Search", class: "btn-dark" %>
  <% end %>
</div>

<div id="map"
    style="width: 100%; height: 100%; top: 56px;"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
</div>

<div class="index-container">
  <div id="section-stations-container"> 
    <div class="stations-cards">
        <% @stations.each do |station| %>
          <% cache(station) do %>
            <%= render station %>
          <% end %>
        <% end %>
    </div>
  </div>
</div>
