<div class="padding-outside">
  <div class="station-banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= asset_path 'station1.jpg' %>);">
    <div class="container-text station-banner-text">
      <%= @station.name %>
    </div>
  </div>

  <div class="container-text">
    <div class="item-list">
      <h5>Item List</h5>
      <ul><% @station.equipment_offers.each do |equip| %>
        <li><%= equip.name %></li>
      <% end %></ul>
    </div>

    
    <h5>Directions</h5>
    <div class="directions-flex">
      <%= image_tag('monbijou.png', alt: '') %>
      <%= @station.location %>
    </div>
  </div>

  <div class="flex-images">
    <%= image_tag('station1.jpg', alt: '') %>
    <%= image_tag('station1.jpg', alt: '') %>
  </div>
</div>

<%= render 'shared/footer' %>