<div class="home-container">
  <div class="padding-outside">
    <div class="station-banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= asset_path 'station1.jpg' %>);">
      <div class="container-text station-banner-text">
        <h1><%= @station.name %></h1>
      </div>
    </div>

    <div class="container-text">
      <div class="item-list">
        <h2>Item List</h2>
        <ul><% @station.equipment_offers.each do |equip| %>
          <li><%= equip.name %></li>
        <% end %></ul>
      </div>

      <div class="directions-flex">
        <%= image_tag('monbijou.png', alt: '') %>
        <div class="directions-block">
          <div class="directions-address"><%= @station.location%></div>
          <a href="https://www.google.com/maps/search/?api=1&query=<%=@station.latitude%>,<%=@station.longitude%>" target="_blank" class="btn-red">Route</a>
        </div>
      </div>
    </div>

    <div class="flex flex-jc-sa images">
      <%= image_tag('station1.jpg', alt: '') %>
      <%= image_tag('station1.jpg', alt: '') %>
    </div>
    <%= link_to 'Back to all stations', stations_path, class: 'btn-red mx-3 mt-4' %>
  </div>

  <%= render 'shared/footer' %>
</div>
