<header>
  <nav class="flex flex-jc-sb flex-ai-c px-4">
    <a href="/" class="header_logo">
      <%= image_tag('training-emoji2.jpg', alt: 'Hoodgym logo')  %>
    </a>

    <div class="openMenu"><i class="fa fa-bars"></i></div>
    <ul class="mainMenu header_links flex flex-jc-sa flex-ai-c">
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "Pricing", pricing_path %></li>
      <li><a href="#">Blog</a></li>
      <li><a href="#">About</a></li>

      <%# Logic Login/ Logout Button Display %>
      <% if user_signed_in? %>
        <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "my-4" %>
      <% else %>
        <%= link_to "Login", new_user_session_path, class: "btn-ghost my-4" %>
      <% end %>

      <div class="closeMenu"><i class="fa fa-times"></i></div>
    </ul>

  </nav>
</header>
