<header>
  <nav class="flex flex-jc-sb flex-ai-c px-4">
    <a href="/" class="header_logo">
      <%= image_tag('training-emoji2.jpg', alt: 'Hoodgym logo')  %>
    </a>

    <button class="openMenu btn-invisible"><i class="fa fa-bars"></i></button>
    <ul class="mainMenu header_links flex flex-jc-sa flex-ai-c">
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "All Stations", stations_path %></li>

      <%# Logic Login/ Logout Button Display %>
      <% if user_signed_in? %>
        <li><%= link_to "My Bookings", bookings_path %></li>
        <li><%= link_to "Buy Credits", pricing_path %></li>
        <li><%= link_to "Logout", destroy_user_session_path, method: :delete, class: "my-3" %></li>
      <% else %>
        <li><%= link_to "Pricing", pricing_path %></li>
        <li><a href="#">About</a></li>
        <li><%= link_to "Login", new_user_session_path, class: "btn-ghost my-3" %></li>
      <% end %>

      <button class="closeMenu btn-invisible"><i class="fa fa-times"></i></button>
    </ul>

  </nav>
</header>
