<div class="page-container">
  <h1 class="mx-3 text-center booking-hl">Your Bookings</h1>
  <div class="booking-container">
    <% @bookings.each do |booking| %>
      <div class="booking-card m-2">
        <%= image_tag('home2_m_comp.jpg', alt: 'Man doing wallballs') %>
        <div class="booking-infos">
          <div>
            <h2><%= booking.equipment_offer.station.name %></h2>
            <p>Equipment: <%= booking.equipment_offer.name %></p> 
            <p>Date: <%= booking.begin_at.strftime("%d.%m.%Y") %></p>
            <p>Time: <%= booking.begin_at.strftime("%I:%M%p") %>
              <%= booking.end_at.strftime("to %I:%M%p") if !booking.end_at.nil? %></p>
          </div>
          <h2 class="booking-pricing">€9.99</h2>
        </div>
      </div>
    <% end %>
  </div>
  <%= render 'shared/footer' %>
</div>
