<main class="home-container">
  <%= link_to 'Start Workout', stations_path, class: 'btn-sticky' %>
  <section class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= '/assets/home1_m_comp.jpg' %>);">
    <%#= image_tag('home1_m_comp.jpg', alt: 'Man training with dumbbell', style: 'width: 100vw; height:100vh; object-fit: cover;')  %>
    <div class="banner-text">
      <h1>Hood Gym</h1>
      <i class="fas fa-arrow-down"></i>
    </div>
  </section>

  <div class="section-black mb-5">
    <section class="section-explore-stations my-3 py-4">
      <i class="fas fa-dumbbell mb-3 icon"></i>
      <h1>Stations</h1>
      <p>Explore rental stations nearby</p>
      <%= link_to 'Discover', stations_path, class: 'btn-red mt-3' %>
    </section>
    <%= image_tag('home2_m_comp.jpg', alt: 'Man doing wallballs', style: 'width: 100%; height:30vh; object-fit: cover;')  %>
    <section class="section-pricing my-3 py-4">
      <header class="my-4">
        <h1>Price Packages</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        <%= link_to 'Buy credits', pricing_path, class: 'btn-red mt-4' %>
      </header>
      <section class="pricing-cards">
        <section class="pricing-card">
          <h4 class="mb-3">Package 1</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        </section>
        <section class="pricing-card">
          <h4 class="mb-3">Package 2</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        </section>
        <section class="pricing-card">
          <h4 class="mb-3">Package 3</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        </section>
      </section>
    </section>
    <%= image_tag('home3_m_comp.jpg', alt: 'Woman squatting with weights', style: 'width: 100%; height:30vh; object-fit: cover;')  %>
  </div>
  
  <%= render 'shared/footer' %>
</main>