<div class="banner">
  <%= image_tag('home1_m_comp.jpg', alt: 'Man training with dumbbell', style: 'width: 100vw; height:100vh; object-fit: cover;z-index:0;')  %>
  <div class="banner-text">
    <h1>Hood Gym</h1>
    <i class="fas fa-arrow-down"></i>
  </div>
</div>
<div>
  <%= image_tag('home2_m_comp.jpg', alt: 'Man doing wallballs', style: 'width: 100vw; height:30vh; object-fit: cover;')  %>
  <%= image_tag('home3_m_comp.jpg', alt: 'Woman squatting with weights', style: 'width: 100vw; height:30vh; object-fit: cover;')  %>
</div>

<div class="section-black">
  <div class="section-explore-stations">
    <i class="fas fa-dumbbell"></i>
    <h2>Stations</h2>
    <p>Explore rental stations nearby</p>
    <%= link_to 'Discover', stations_path, class: 'btn-red' %>
  </div>
    <div class="section-pricing">
    <h2>Pricing</h2>
    <p>Stay flexible</p>
    <div class="pricing-cards">
      <div class="pricing-card">
        <h6>Package 1</h6>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      </div>
      <div class="pricing-card">
        <h6>Package 2</h6>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      </div>
      <div class="pricing-card">
        <h6>Package 3</h6>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      </div>
    </div>
    <button class="btn btn-red">Buy credits</button>
  </div>
</div>
<%= render 'shared/footer' %>